* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary: #1c2746;
    --secondary: #cbd2e4;
    --light: #fff;
    --dark: #000;
    --accend: #02112c;
    --logoSpan: #dbc253;

    --transition: 0.7s;
}

/* CTA - Call to action */

.container {
    width: 85%;
    margin: auto;
}

.burger {
    display: none;
}


.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    padding: 20px 32px;
    
}

.logo {
    text-transform: uppercase;
    color: var(--logoSpan);
}

.mobile-nav a {
    position: relative;
    transition: var(--transition);
}

.mobile-nav a:hover {
    color: var(--logoSpan);
}

.mobile-nav a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--logoSpan);
    left: 0;
    bottom: -5px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;

}

.mobile-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



.mobile-nav a:hover {
    color: var(--logoSpan);
}

header {
    background-image: url(./img/bcgrPic.webp);
    height: 150vh;
    background-position: center;
    background-size: cover;
}

h1 {
    color: var(--light);
    font-size: 42px;
    letter-spacing: 1px;
    transition: var(--transition);
}

nav {
    background-color: var(--primary);
    border-bottom: 5px solid var(--logoSpan);
    position: fixed;
    width: 100%;
    transition: var(--transition);
}


/* Sticky */
.scroll.sticky {
    background-color: #fff;
    opacity: 0.9;
}

.scroll.sticky ul li a {
    color: black;
    /* transition: var(--transition); */
}

.scroll.sticky h1 {
    color: var(--dark);
}

.scroll.sticky a::after {
    background: black;
}

/* ***************I */

nav.sticky span {
    background-color: var(--dark);
}


nav ul {
    display: flex;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    margin-left: 55px;
    color: var(--secondary);
}

@media screen and (max-width: 768px) {

    nav {
        padding: 8px 0;
        position: fixed;
        width: 100%;
    }

    nav div ul {
        display: none;
    }

    h1 {
        font-size: 34px;
        z-index: 98;
    }

    .container {
        width: 95%;
    }

    
    /* MOBILE NAV */
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: var(--accend);
        padding-top: 100px;
        transition: var(--transition);
    }

    .mobile-nav a {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-bottom: 36px;
    padding: 12px 16px;
    background-color: var(--primary);
    border-radius: 30px;
    }

    .mobile-nav a:hover {
        background-color: var(--light);
        color: var(--accend);
        transition: var(--transition);
    }

    /* MOBILE NAV IS-ACTIVE*/
    .mobile-nav.is-active {
        left: 0;
    }

    
    
    
    /* BURGER */
    .burger {
        display: block;
        position: relative;
        margin-top: 8px;
        cursor: pointer;
        
        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
        
    }

    .burger:hover span:nth-child(2) {
        transform: translateX(10px);
        background-color: var(--logoSpan);
    }

    .burger span {
        display: block;
        width: 34px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background-color: var(--light);
        border-radius: 6px;

        transform-origin: 0 0;

        transition: var(--transition);
    }

    /* BURGER IS-ACTIVE */
    .burger.is-active:hover span {
        background-color: var(--logoSpan);
    }

    .burger.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
    }
    
    .burger.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);
    }

    .burger.is-active span:nth-child(3) {
        transform: translate(-3px, 3px) rotate(-45deg);
    }

    

    
    

    

    

    
}
    





