* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary: #1c2746;
    --secondary: #cbd2e4;
    --light: #fff;
    --accend: #74549b;
    --logoSpan: #dbc253;

    --transition: 0.7s;
}

/* CTA - Call to action */

.container {
    width: 85%;
    margin: auto;
}

.activeDiv {
    display: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    padding: 20px 32px;
    
}

.logo {
    text-transform: uppercase;
    color: var(--logoSpan);
}

h1 {
    color: var(--light);
    font-size: 42px;
    letter-spacing: 1px;
}

nav {
    background-color: var(--primary);
    border-bottom: 5px solid var(--accend);
}

nav ul {
    display: flex;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    margin-left: 25px;
    color: var(--secondary);
}

@media screen and (max-width: 768px) {
    .activeDiv {
        display: block;
        margin-top: 20px;
    }

    nav {
        padding: 18px 0;
    }

    nav div ul {
        display: none;
    }

    nav h1 {
        position: fixed;
        z-index: 99;
    }

    .activeDiv {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        margin-right: 25px;
    }

    .burger {
        position: fixed;
        z-index: 99;
    }

    /* nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 98;
    } */

    h1 {
        font-size: 34px;
    }

    .container {
        width: 95%;
    }

    .burger {
        display: block;
        position: relative;
        z-index: 1;
        margin-top: 8px;
        cursor: pointer;
        
        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
        
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: var(--accend);
        padding-top: 100px;
        transition: var(--transition);
    }

    nav ul li a {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-bottom: 36px;
    padding: 12px 16px;
    background-color: var(--primary);
    border-radius: 30px;
    }

    nav ul li a:hover {
        background-color: var(--light);
        color: var(--accend);
        transition: var(--transition);
    }

    .mobile-nav.is-active {
        left: 0;
    }

    .burger span {
        display: block;
        width: 34px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background-color: var(--light);
        border-radius: 6px;
        z-index: 1;

        transform-origin: 0 0;

        transition: var(--transition);
    }

    .burger:hover span:nth-child(2) {
        transform: translateX(10px);
        background-color: var(--accend);
    }

    .burger.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
    }

    .burger.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);
    }

    .burger.is-active span:nth-child(3) {
        transform: translate(-3px, 3px) rotate(-45deg);
    }

    
}
    





